<!DOCTYPE html>
<html>
<head>
	<title>history历史</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">	
	<script type="text/javascript" src="./js/jquery-v3.5.1.js"></script>
	<style type="text/css">
		@font-face {
		     font-style:normal;
		     font-family:'qxxin';
		     src:url('../../fonts/qxxin.ttf') format('truetype');
		 }
		 body {
		     font-family:"Microsoft YaHei","qxxin",sans-serif;
		 }
	</style>
	<link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>
<div id="TOP" style="height: 0;"></div>
<div class="content">	
	<div class="header">
		<span class="btn">
			<img src="./imgs/icon/caidan.png" class="caidan">
		</span>		
		<span class="title">MA  CHÉRIE</span>
		<small class="smallTitle">P A R I S</small>
		<ul class="rightFunctionalArea">
			<li>
				<a href="#">EN</a>&nbsp;
				<img src="./imgs/icon/movie.png" class="movie">
			</li>
			<li>
				<img src="./imgs/icon/user.png" class="nickname">&nbsp;
				<a href="javascript:void(0)" onclick="signIn(this)">登录</a>&nbsp;|&nbsp;
				<a href="javascript:void(0)" onclick="signUp(this)">注册</a>
			</li>
			<li>
				<img src="./imgs/icon/cart2.png" class="cart">&nbsp;
				<a href="#">购物车</a>
			</li>
		</ul>
	</div>	
	<div class="menu menu1 menuPc">
		<div class="menuTitle">
			<a href="../../index.html">
				<span><i>MA  CHÉRIE</i></span>
				<small>Online Store</small>
			</a>
		</div>
		<div class="menuA">
			<ul>
				<li><a href="../ShoppingMall/index.html">SHOP 商城</a></li>
				<li><a href="javascript:void(0);">HISTORY 历史</a></li>
				<li><a href="../memberCenter/index.html">MEMBER 会员中心</a></li>
				<li><a href="../ContactUs/index.html">CONTACT 联系我们</a></li>
			</ul>
		</div>
		<div class="menuSearch">
			<input type="text" name="secrch">
			<img src="./imgs/icon/search.png">
		</div>
	</div>
	<div class="menu menu1 menuPide">
		<div class="menuA">
			<ul>
				<li><a href="../ShoppingMall/index.html">SHOP 商城</a></li>
				<li><a href="javascript:void(0);">HISTORY 历史</a></li>
				<li><a href="../memberCenter/index.html">MEMBER 会员中心</a></li>
				<li><a href="../ContactUs/index.html">CONTACT 联系我们</a></li>
			</ul>
		</div>
	</div>
	<div style="width: 100%;height: 27px;background-color: #EEEEEE;" class="border"></div>
	<div class="firstContent">
		<div class="one">
			<div class="oneItem"></div>
			<div class="twoItem"></div>
		</div>
		<div class="pContent">
			<div class="menu menu2">
				<div class="menuTitle">
					<span><i>MA  CHÉRIE</i></span>
					<small>Online Store</small>
				</div>
				<div class="menuA">
					<ul>
						<li><a href="../ShoppingMall/index.html">SHOP 商城</a></li>
						<li><a href="javascript:void(0);">HISTORY 历史</a></li>
						<li><a href="../memberCenter/index.html">MEMBER 会员中心</a></li>
						<li><a href="../ContactUs/index.html">CONTACT 联系我们</a></li>
					</ul>
				</div>
				<img src="./imgs/icon/scanning.png" class="saoma">
				<div class="menuSearch">					
					<img src="./imgs/icon/search1.png" class="search">
					<input type="text" name="secrch"><span class="secrchBtn">搜索</span>
					<img src="./imgs/icon/camera.png" class="canemar">				
				</div>
				<img src="./imgs/assets/41d3c6a88e2ccda6e488b2d3fb24fa1.png" class="erweima1">
				<img src="./imgs/icon/erweima.png" class="erweima">
			</div>
			<div class="three">
			    <ul class="clear">
			    	<li class="left">
			    		<img src="./imgs/assets/d3a3a3dad4f9c0c2cdbb6df8753d341.png" style="width: 100%;height: 100%;">
			    		<ul class="clear mobile">
							<li>
								<h6>CAKE</h6>
								<h6>MACARONE</h6>
								<h6>VIENNOISERIES</h6>
								<h6>PATISSERIES</h6>
							</li>
							<li>
								<img src="./imgs/assets/36bd02728f1fbfa67d8e31598bea0a5.png" style="width: 100%;height: 100%;">
							</li>
						</ul>
			    	</li>
			    	<li class="center">
			    		<h3 style="color: #535353;">PICASSO IN PASTRY</h3>
			    		<h5 style="color: #535353;">糕点界的毕加索</h5>
			    		<p>
			    			Pierre Hermé出生于阿尔萨斯省，是传统的糕点大师世家。他从14岁就跟随法国甜点大师Gaston Lentre开始了自己的职业生涯，被誉为“糕点界的毕加索”。Pierre Hermé出生于阿尔萨斯省，是传统的糕点大师世家。</p><br>
			    		<p>
							1996年底，Pierre Hermé和Charles Znaty 合伙创建了自己的甜品品牌Pierre Hermé Paris，第一家店于1998年开在日本东京，2001年Pierre Hermé转战巴黎，在位于圣日耳曼德佩区的波拿巴大街72号开设了巴黎第一家Pierre Hermé甜品店，从此开始了这个品牌的神奇之旅。
						</p>

						<ul class="clear pc">
							<li>
								<h6>CAKE</h6>
								<h6>MACARONE</h6>
								<h6>VIENNOISERIES</h6>
								<h6>PATISSERIES</h6>
							</li>
							<li>
								<img src="./imgs/assets/36bd02728f1fbfa67d8e31598bea0a5.png" style="width: 100%;height: 100%;">
							</li>
						</ul>
			    	</li>
			    	<li class="right">
			    		<span class="menu"></span>
			    		<h3 style="color: #535353;">Pierre Hermé</h3>
			    		<p>
			    			看起来可爱极了的Pierre完全没有架子在，他分享自己的心得时说到“在创制甜品的时候，我很重视味道的配搭效果，犹如研制香水一样花心思。香水师以嗅觉研制作品，烘焙师则同时利用嗅觉和味觉来成就完美的作品。”
						</p>
						<br>
			    		<p>
							Pierre Hermé仅仅20多岁已被委任为巴黎咖啡厅Fauchon的糕饼主厨。并且凭借其独特的糕点创作而享获“甜品界Dior”美誉。
						</p>
						<span class="menu1">
							<img src="./imgs/assets/e75df7e30427ed5d49e8895c52a23c9.png" style="width: 100%;height: 100%;">
						</span>
			    	</li>
			    </ul>
			</div>
		</div>
		<div class="one1">
			<div class="one1Item"></div>
			<div class="two1Item"></div>
		</div>
	</div>


	<div class="sevenContent">
		<ul>
			<li><img src="./imgs/assets/baliparis3x.png"></li>
			<li><img src="./imgs/assets/balitieta3x.png"></li>
			<li><img src="./imgs/assets/qiaokeli3x.png"></li>
			<li><img src="./imgs/assets/maqialong3x.png"></li>

		</ul>
	</div>
	<div class="footer">
		<ul class="clear">
			<li class="info">
				<h4><i>MA  CHÉRIE</i></h4>
				<p>
					Designer：Yukilie<br>
					Luyoona@163.com<br>
					13671997420
				</p>
				
				<ul class="clearfix hidden">
					<li><img src="./imgs/assets/FacebookCopy@3x.png" style="width: 2rem;height: 2rem;"></li>
					<li><img src="./imgs/assets/TwitterCopy@3x.png" style="width: 2rem;height: 2rem;"></li>
					<li><img src="./imgs/assets/InstagramCopy@3x.png" style="width: 2rem;height: 2rem;"></li>
					<li><img src="./imgs/assets/RSCopy@3x.png" style="width: 2rem;height: 2rem;"></li>
				</ul>
				<p>@MA  CHÉRIE 2020</p>
			</li>
			<li class="followMe">
				<h4>Follow Us</h4>
				<ul class="clearfix mobileShow">
					<li><img src="./imgs/assets/FacebookCopy@3x.png" style="width: 2rem;height: 2rem;"></li>
					<li><img src="./imgs/assets/TwitterCopy@3x.png" style="width: 2rem;height: 2rem;"></li>
					<li><img src="./imgs/assets/InstagramCopy@3x.png" style="width: 2rem;height: 2rem;"></li>
					<li><img src="./imgs/assets/RSCopy@3x.png" style="width: 2rem;height: 2rem;"></li>
				</ul>
				<ul class="clearfix show">
					<li><img src="./imgs/assets/ShapeCopy3@3x.png" style="width: 2rem;height: 2rem;"></li>
					<li><img src="./imgs/assets/ShapeCopy2@3x.png" style="width: 2rem;height: 2rem;"></li>
					<li><img src="./imgs/assets/ShapeCopy4@3x.png" style="width: 2rem;height: 2rem;"></li>
				</ul>
			</li>
			<li class="company">
				<h4>Company</h4>
				<ul class="clearfix">
					<li>
						<div>About</div>
						<div>Shop</div>
						<div>Member & Contact</div>
						<div>Say Hello</div>
					</li>
					<li>
						https://www.haagendazs.com.cn/Website/index.html 
						<br>
						<br>
						霍格沃茨路97号
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="fixContent"><a href="#TOP" style="color: #000;"><h1>TOP</h1></a></div>
</div>
<div class="fixMenu">
	<ul class="clear">
		<li>
			<!-- <a href="../../index.html"> -->
				<img src="./imgs/icon/home.png" data-active="home1.png" data-common="home.png">
				<span>首页</span>
			<!-- </a>			 -->
		</li>
		<li>
			<!-- <a href="javascript:void(0);"> -->
				<img src="./imgs/icon/cart.png" data-active="cart1.png" data-common="cart.png">
				<span>购物车</span>
			<!-- </a>			 -->
		</li>
		<li>
			<!-- <a href="javascript:void(0);"> -->
				<img src="./imgs/icon/history.png" data-active="history1.png" data-common="history.png">
				<span>历史</span>
			<!-- </a>			 -->
		</li>
		<li>
			<!-- <a href="javascript:void(0);"> -->
				<img src="./imgs/icon/huiyuan.png" data-active="huiyuan1.png" data-common="huiyuan.png">
				<span>会员中心</span>
			<!-- </a>			 -->
		</li>
		<li>
			<!-- <a href="javascript:void(0);"> -->
				<img src="./imgs/icon/ellipsis.png" data-active="ellipsis1.png" data-common="ellipsis.png">
				<span>更多</span>
			<!-- </a> -->
			
		</li>
	</ul>
</div>

<div class="login">
	<div class="close">
		<img src="./imgs/loginImgs/close.png" onclick="closeFun()">
	</div>
	<h4 class="loginTitle"><i>MA  CHÉRIE</i></h4>
	<div class="mainTitle">Sign in to join in Ma Chérie </div>
	<small class="smallTitle">Enter your details to get started. </small>
	<div class="formContent">
		<ul>
			<li class="contentItem">
				<div class="label">账号</div>
				<div class="formItem">
					<img src="./imgs/loginImgs/user.png">
					<input type="text" name="">
				</div>
			</li>
			<li class="contentItem">
				<div class="label">密码</div>
				<div class="formItem">
					<img src="./imgs/loginImgs/password.png">
					<input type="password" name="">
				</div>
			</li>
			<li class="contentItem">
				<div class="label">性别</div>
				<div class="formItem">
					<img src="./imgs/loginImgs/sex.png">
					<input type="radio" name="sex" value="male" checked>男
					<input type="radio" name="sex" value="female">女
				</div>
			</li>
		</ul>
	</div>
	<div class="btns">注册</div>
</div>
<div class="layer"></div>
<script type="text/javascript" src="./js/index.js"></script>
</body>
</html>